<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I’ve always sought out <strong>opportunities</strong> and <strong>challenges</strong> that are <strong>meaningful</strong> to me. Although my professional path has taken many twists and turns — from being a nutritionist, giving public health talks, grooming key potential vendors for online shopping sites B2C platform, conducting sales personality trainings & coaching sessions, to now picking up (or trying very hard) advance degree in Modern Technology  — I've never stopped engaging my passion to help others and solve problems.
    </p>
    
    <p>
      Although the following may sound like a typical stucked up elaboration & praises on how good I am and how I would/can/have/could benefit the company etc etc...BUT honest to God I really mean it. Mean it that – I enjoy using my obsessive attention to details, my unequivocal <strong>love</strong> for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a <strong>big impact</strong> at a high growth company.
    </p>

    <p>
       For now I am only self-taught developer, I started to learn coding while transitioning to a new career pathway in tech while seeking opportunities to further grow my passion into a stable, sustainable & high success career. I love challenges, new projects, and solving problems.
    </p>
    <!-- {% include employment-status.html %} -->
      <!-- <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>. -->
  </div>
</section>