<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
		<p>
			I'm a person who <strong>love challenges</strong> and always see the <strong>opportunities</strong> in setbacks. Although I've dabbled in different industry — from health nutrition, sales closing to online shopping e-commerce, I'm currently advancing my education in taking up an advance degree in Modern Programming and a <strong>self-taught developer</strong>.
		</p>

		<p>
			I'm also certified coach (HRDF “Train The Trainer”) with a passion to <strong>help others</strong> and loves working together to find <strong>solutions</strong> to problems.
		</p>

		<p>
			Being a person that pays attention to details, I <strong>believed</strong> I <strong>can</strong> contribute to the the growth of a company and make a <strong>positive impact</strong> with my experiences and knowledge which I hope to share.
		</p>
  </div>
</section>

<!-- {% include employment-status.html %} -->
