<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project pinkseason">
      <figure class="project__pic">
        <a href="https://apps.apple.com/us/app/pink-season/id1479880992/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/pinkseason/appleappstore.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://apps.apple.com/us/app/pink-season/id1479880992/" target="_blank">PINK SEASON</a>
        </div>
        <p>Pink Season is app made for Hong Kong clients to promote diversity, inclusion and awareness among communities.</p>
      </figcaption>
    </div>

    <div class="project mtssdev">
      <figure class="project__pic">
        <a href="https://mtss.dev/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/mtssdev/website.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://mtss.dev/" target="_blank">MTSS.dev</a>
        </div>
        <p>A personal website used as a test production & code development. This page was registered using my own personal name as business tradename as per requirements of legal entities and not intended for as a new company setup.</p>
      </figcaption>
    </div>

    <!-- <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a>
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
      </figcaption>
    </div> -->
  
  </div>
</section>
