<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
    <strong><i>you</i> are worth finding,</strong><br>
    <strong><i>you</i> are worth to be connected with,</strong><br>
    <strong><i>you</i> are worth getting your Dream Job.</strong>
    </p> 

		<p>
  	<strong><i>you</i> + 1 single action of ...</strong><br>
    <strong>(-) your unhappy & unsatisfied where you are</strong><br> 
    <strong>(+) a ripple effect of Success & Attainment</strong>
		</p>

    <p>
    <strong>... and what action is that?</strong>
    </p>

    <p>
    <strong>???? Just do this below</strong><br>
    <strong>you just ask.</strong><br>
    <strong>you just ask me.</strong><br> 
    <strong>you just ask me after you approve my friend request.</strong><br>
    <strong>you and me then talk about Opportunies, Opportunies, Opportunies.</strong><br> 
    <strong>you and me then get more from LIFE."</strong><br>
    </p>
		{% include employment-status.html %}
  </div>
</section>

<!-- <div class="section__content">
		<p>
			I'm a person who <strong>love challenges</strong> and always see the <strong>opportunities</strong> in setbacks. Although I've dabbled in different industry — from health nutrition, sales closing to online shopping e-commerce, I'm currently advancing my education in taking up an advance degree in Modern Programming and a <strong>self-taught developer</strong>.
		</p>

		<p>
			I'm also certified coach (HRDF “Train The Trainer”) with a passion to <strong>help others</strong> and loves working together to find <strong>solutions</strong> to problems.
		</p>

		<p>
			Being a person that pays attention to details, I <strong>believed</strong> I <strong>can</strong> contribute to the the growth of a company and make a <strong>positive impact</strong> with my experiences and knowledge which I hope to share.
		</p>
		{% include employment-status.html %}
  </div> -->

		<p>
    <strong>you are worth finding,</strong>
    <strong>you are worth to be connected with,</strong>
    <strong>you are worth getting your Dream Job.</strong>
    </p> 

		<p>
			<strong>you + 1 single action of ...</strong>
      <h2>(-) your unhappy & unsatisfied where you are</h2> 
      <h2>(+) a ripple effect of Success & Attainment</h2>
		</p>

    <p>
    <strong>... and what action is that?</strong>
    </p>

    <p>Simple action.</p>

		<p>
    <strong>you just ask.</strong>
    <strong>you just ask me.</strong> 
    <strong>you just ask me after you approve my friend request.</strong>
    <strong>you and me then talk about Opportunies, Opportunies, Opportunies.</strong> 
    <strong>you and me then get more from LIFE."</strong>
		</p>
