<section class="section experience">
    <div class="section__title">Experience</div>
    <div class="section__content">
        <div class="jobs">
            {% for job in site.data.experience %}
            <div class="job">
                <div class="time-place">
                    <div class="job__company">
                        <a href="{{job.url}}" target="_blank">{{job.company}}</a>
                    </div>
                    <div class="job__time">{{job.time}}</div>
                </div>
                <div class="job__position">{{job.position}}</div>
            </div>
            {% endfor %}
        </div>
        <a href="https://registry.jsonresume.org/marcustanx" target="_blank" class="arrow-link">Explore my CV</a></br>
    <a href="https://www.icloud.com/iclouddrive/06-X0dyhNDyZXdh0jQQLPXxfw#RESUME_Marcus_JULY20" target="_blank" class="arrow-link">Download as PDF copy</a>
    </div>
</section>
